:root {
}

.contenedorPrincipal {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    -unity-font-definition: url("project://database/Assets/BoldPixels/Assets/font/BoldPixels.ttf?fileID=12800000&guid=71a55b0538d48354b87afab937af74d2&type=3#BoldPixels");
}

.contenedorPreguntas {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 35%;
    max-width: 60%;
}

.boton {
    height: 30%;
    width: 40%;
    font-size: 60px;
    flex-direction: row;
    -unity-text-align: middle-center;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/Cowboy%20Cats/Untitled%204.png?fileID=-2401453818774780720&guid=52383d200f78a4551836d2ca757c6796&type=3#Untitled 4_5");
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    border-left-color: rgba(55, 55, 55, 0);
    border-right-color: rgba(55, 55, 55, 0);
    border-top-color: rgba(55, 55, 55, 0);
    border-bottom-color: rgba(55, 55, 55, 0);
}

.labelPregunta {
    font-size: 70px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
    max-height: 15%;
    height: 100%;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
}

.HUD {
    min-height: 10%;
    height: 100%;
    max-height: 10%;
    flex-direction: row;
    align-self: center;
    min-width: 100%;
}

.contenedorNumPreguntas {
    flex-direction: row;
}

.contenedorProgreso {
    flex-direction: row;
}

.textoHUD {
    font-size: 60px;
}

.boton:hover {
    background-image: url("project://database/Assets/Cowboy%20Cats/Untitled%204.png?fileID=2935242376306719514&guid=52383d200f78a4551836d2ca757c6796&type=3#Untitled 4_6");
}

.boton:disabled {
    opacity: 1;
}