:root {
}

.contenedorPrincipal {
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: space-between;
    background-color: #000000d9;
}

.contenedorConfiguracion {
    align-items: center;
    justify-content: space-around;
    align-self: center;
    align-content: center;
    background-color: #d1a773ff;
    border-top-width: 15px;
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 15px;
    width: 80%;
    height: 80%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-left-color: rgb(59, 37, 14);
    border-right-color: rgb(59, 37, 14);
    border-top-color: rgb(59, 37, 14);
    border-bottom-color: rgb(59, 37, 14);
}

.contenedorRelleno {
    height: 10%;
    width: 100%;
    max-height: 10%;
}

.opciones {
    font-size: 90px;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    -unity-font-style: bold;
}

.contenedorSlider {
    width: 60%;
    height: 50%;
    -unity-text-align: upper-center;
    justify-content: space-evenly;
}

.labelSlider {
    -unity-text-align: upper-center;
    -unity-font-definition: url("project://database/Assets/BoldPixels/Assets/font/BoldPixels.ttf?fileID=12800000&guid=71a55b0538d48354b87afab937af74d2&type=3#BoldPixels");
    font-size: 60px;
}

.boton {
    background-image: url("project://database/Assets/Cowboy%20Cats/Untitled%204.png?fileID=-2401453818774780720&guid=52383d200f78a4551836d2ca757c6796&type=3#Untitled 4_5");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    width: 300px;
    height: 100px;
    font-size: 58px;
    -unity-font-definition: url("project://database/Assets/BoldPixels/Assets/font/BoldPixels.ttf?fileID=12800000&guid=71a55b0538d48354b87afab937af74d2&type=3#BoldPixels");
}

Slider {
}

Slider #unity-tracker {
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

Slider #unity-dragger {
    height: 50px;
    width: 30px;
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    background-color: rgb(162, 104, 44);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}
