:root {
}

.contenedorPrincipal {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: row;
}



.contenedorMonedas {
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    min-width: 15%;
    max-width: 15%;
    min-height: 10%;
    max-height: 10%;
    align-items: center;
    -unity-text-align: upper-center;
    align-content: center;
    margin-bottom: 2%;
    margin-right: 4%;
    background-image: url("project://database/Assets/Cowboy%20Cats/C00B7ECE-166D-4160-BDED-58D1B166D550/Untitled%204.png?fileID=-1818288207410235511&guid=59d2a3247597742898c7890e05542e58&type=3#Untitled 4_4");
}

.numMonedas {
    font-size: 70px;
    align-self: center;
}



.imagenMonedas {
    height: 75%;
    width: 30%;
}
