:root {
}

.contenedorPrincipal {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
}

.contenedorBotonPausa {
    min-width: 100%;
    max-height: 15%;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    min-height: 15%;
    height: 100%;
}

.botonPausa {
    font-size: 60px;
    width: 8%;
    height: 80%;
    background-image: url("project://database/Assets/Cowboy%20Cats/C00B7ECE-166D-4160-BDED-58D1B166D550/Button%202.png?fileID=-66490268015967822&guid=4e115428e8cd848a1a1c89e322667c75&type=3#Button 2_0");
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

.botonPausa:hover {
    scale: 1.1 1.1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

.contenedorMenuPausa {
    max-height: 65%;
    max-width: 55%;
    width: 100%;
    height: 100%;
    background-color: rgb(221, 163, 105);
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
}

.botones {
    font-size: 48px;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    width: 40%;
    height: 22%;
    letter-spacing: -7px;
    background-image: url("project://database/Assets/Cowboy%20Cats/Untitled%204.png?fileID=-2401453818774780720&guid=52383d200f78a4551836d2ca757c6796&type=3#Untitled 4_5");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.texto {
    font-size: 90px;
    -unity-text-align: upper-center;
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
}

.contenedorRelleno {
    width: 100%;
    height: 10%;
}

.botones:hover {
    background-image: url("project://database/Assets/Cowboy%20Cats/Untitled%204.png?fileID=2935242376306719514&guid=52383d200f78a4551836d2ca757c6796&type=3#Untitled 4_6");
}

.contenedorOpciones {
}





.labelSlider {
    font-size: 59px;
    -unity-font-definition: url("project://database/Assets/BoldPixels/Assets/font/BoldPixels.ttf?fileID=12800000&guid=71a55b0538d48354b87afab937af74d2&type=3#BoldPixels");
    -unity-font-style: normal;
    -unity-text-align: upper-center;
}

.labelOpciones {
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    font-size: 90px;
    -unity-font-style: bold;
}

Slider {
    align-self: center;
    width: 60%;
    height: 100px;
}

.contenedorSliders {
    width: 100%;
}

Slider #unity-tracker {
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

Slider #unity-dragger {
    height: 50px;
    align-self: flex-start;
    justify-content: center;
    align-items: flex-start;
    width: 30px;
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(162, 104, 44);
    background-color: rgb(162, 104, 44);
    -unity-text-align: middle-left;
    align-content: center;
    position: relative;
    flex-direction: column;
}
